  <div class="content">   
     
  
      <div class=mainContent>
      <h1>Dokumentation von Software</h1> 
  
      
  
      <h3>Beschreiben und Erklären</h3>
  
      <p>
        Seit mehr als zehn Jahren schreibe ich leidenschaftlich die Dokumentation zu Software.

        Mir macht es Spaß, Software zu erklären, Hintergründe aufzuzeigen und mit Grafiken die Zusammenhänge zu verdeutlichen.
      </p>
  
      
      <h3>Dokumentation ist kein Luxus</h3>
        <p>
            Die Software-Entwicklung ist nicht mit dem Erstellen und Testen der Programme getan: Die Software muss auch dokumentiert sein, damit die Entwickler, die den Code später vor sich haben, damit auch etwas anfangen können. Sonst wird sehr viel Zeit und damit Zeit verschwendet.

            Legen Sie Wert auf eine gute Dokumentation für Ihre Software. Denn gute Dokumentation ist kein Luxus. 
      </p>

      <h3>Know-how</h3>
      <p>
        Gute Dokumentation erfordert Wissen und Know-how: Wer Zusammenhänge versteht, 
        der kann sie auch beschreiben. Wer Wissen mitbringt, der kann es auch weitergeben. 
        Deshalb investiere ich in Aus- und Weiterbildung.
      </p>

      <h3>Dokumentations-Projekte</h3>
      
       <h4>Werkzeug- und Formenbau</h4> 
        <p>
            Entwicklung und Dokumentation von C#-Programmen im Bereich Werkzeug- und Formenbau 
            zur Ansteuerung von Robotern und Magazinen, Integration in eine Software zur 
            Produktionssteuerung (Multithreading Anwendung). 
        </p>
        
       <h4>OPC UA</h4> 
        
        <p>
            Dokumentaton für OPC UA,
            insbesondere im Bereich Alarms & Conditions            
        </p>
         
        
        <h4>Remote-Zugriff</h4>        
        <p>
            Verfassen eines Konzepts für eine IT-Unternehmensarchitektur, in der Anwender einen sicheren Zugang zu Anwendungen 
            im Unternehmensnetzwerk erhalten.
            Der Zugriff erfolgt mit Hilfe von Smart-Phones. 
        </p>
        
        <h4>SPS-Programm</h4>
        
       <p>
        Entwicklung eines SPS-Programms mit dem TIA Portal in SCL (ST), 
        das über OPC UA Daten aus einer S7-1500-Steuerung liest.        
        Dokumentation von Server- und Client-Schnittstellen für OPC UA.
       </p>

       <h4>Datenvolumen begrenzen</h4>
 
       <p>
        Dokumentation eines Programm zur Begrenzung des Datenvolumens, das Windows-Rechner senden dürfen.

        Entwicklung von Test-Programmen (in C#) für dieses Programm.

        Dokumentation der Systemarchitektur von MindSphere, einer cloudbasierten Plattform für Industrie 4.0-Anwendungen (Internet of Things).
    </p>

    <h4>TIA Portal</h4> 
    <p>  
        Pflege der Dokumentation für das TIA Portal, eines Programms zum Konfigurieren und Programmieren von Siemens-Steuerungen (SPS, PLC).

        Kontextsensitive Hilfe
        
        Umfangreiche Hilfe-Topics für das Informationssystem des TIA Portals (STEP 7 V14),
        z.B. über PROFINET und Redundanzverfahren (MRP und MRPD, Ausfallsicherung im Maschinen- und Anlagenbau)
        
         
    </p>
  
    <h4>Wechselrichter</h4>

    <p>
        Systembeschreibungen von Wechselrichtern für einen Zug.
    </p>
    <p>
        Dokumentation der Schnittstellen zum Zug-Leitsystem, 
        der IP-Kommunikation, des CAN-Netzwerke, der Pulswechselrichter und der Steuerungselektronik
    </p>
        
    <p>Wartungsanleitung, Erläuterungen zu den Stromlaufplänen, Sicherheitshinweise
    </p>
        

    <p>  
        Recherche der elektrischen Schnittstellen neuer Komponenten (z.B. zur Rauch- und Temperarturmessung)
 
    </p>   

    </div>  
  
  </div>