<div class="content">    
     
  
      <h1>Elektronik-Labor</h1> 
  
      <img src="assets/image/Elektronik-Labor.jpg" alt="Haidner Elektronik-Labor" height="163" width="318"  > 
      
 
      
  
      <h3>Warum ein Test-Labor?</h3>
  
      <p>
        In meinem Test-Labor kann ich Elektronik, Hard- und Software testen. 
      </p>
      <p>
        Mit Messtechnik überprüfe ich, ob eine Beschreibung oder ein Programm auch wirklich funktioniert.
      </p>
      <p>
        Wenn ich zum Beispiel eine Beschreibung über das Ausgeben von Meldungen erstelle, dann macht es Sinn, eine konkrete Anlage aufzubauen und zu testen, 
        ob diese Meldungen auch tatsächlich auf einem Display ausgegeben werden.

      </p>
      
  
      
      <h3>Beispiel OPC UA</h3>
        <p>
            Ich beschreibe zum Beispiel, wie mit einem OPC UA-Client (Software-Programm) 
            die Werte in einer SPS (zum Beispiel einer Siemens Simatic S7-1500) gesetzt und 
            anschließend an einem Ausgang ausgegeben werden.

            Hierzu baue ich die Anlage auf, mit dem OPC UA-Client-Programm auf einem Windows-Rechner, dem SPS-Programm auf der S7-1500-Steuerung und einem Ausgabemodul.

            Anschließend messe ich, welche Spannung tatsächlich ausgegeben wird.
      </p>

      <h3>Messtechnik</h3>
      <p>
        In meiner Ausbildung als Radio- und Fernsehtechniker (Informations-Elektroniker) habe ich gelernt, 
        elektronische Größen (zum Beispiel Spannungen, Ströme, Widerstandswerte) zu messen und Fehler zu finden.

        Diese Fähigkeiten sind beim Programmieren und Dokumentieren sehr wichtig.
      </p>

      

   

</div>
  
