  <div class="content">  
     
  
      <h1>Weiterbildung</h1> 
  
      
  
      <h3>Angular</h3>
  
      <p>
        Angular  und AngularJS sind JavaScript-Frameworks, die heute sehr oft eingesetzt werden.

        Mit diesen Frameworks lassen sich leistungsfähige Single-Page-Webapplikationen realisieren.
        
        Das interessiert mich sehr: Deshalb habe ich unter anderem den folgenden Kurs besucht: 
      </p>
            
  
      
      <h3>Web API und Microservices</h3>
        <p>
            Wie lassen sich große Software-Projekte in eine Reihe kleiner, in sich abgeschlossener Microservices aufteilen?

            Wie können die Schnittstellen (API) zu diesen Microservices realisiert werden?

            Wie verwendet man ASP.NET von Microsoft, um ein Web API umzusetzten?

            Diese Fragen beantwortete der Online-Kurs "Build Web APIs using ASP.NET", den ich besucht habe:
      </p>

      <h3>Robotertechnik</h3>
      <p>
        Robotik ist ein großes Theam heute. 

        Wie agiert ein Roboter mit seiner physikalischen Umwelt?

        Wie könnnen physikalische Größen über Sensoren erfasst und als Eingangssignale an den Mikrocontrollers geleitet werden, der einen Roboter steuert?

        Wie lassen sich aus den Ausgangssignale des Mikrocontrollers die Ströme und Spannungen für Aktoren erzeugen?

        Solche Frage beantwortete der Online-Kurs "Electronic Interfaces", den ich absolviiert habe: 
      </p>

      <h3>Die Programmiersprache C#</h3>
      <p>
        C# ist die Antwort von Microsoft auf Java, eine der erfolgreichsten Programmiersprachen.

        Ich interessiere mich für C, C++ und C# und habe eine Reihe von Kursen besucht, 
        um meine Arbeit auf ein solides Fundament zu stellen:
      </p>

   

  </div>
  

